:root {
    --color-primary : #0866ff;
    --color-gray: #65686c;
    --color-hover: #1877f2;
    --color-bg: #f2f4f7;
    --color-lime: #42b72a;
}


.login, .register {
    gap: 4rem;
    overflow-x: hidden;
}

.login .text ,.register .text {
    width: 30%;
}

.login .text h1 , .register .text h1 {
    color: #0866ff !important;
    font-size: 50px;
}

.text p {
    font-size: 25px;
    /* color: black; */
}

.form {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    gap: 1rem;
    /* font-size: large; */
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.form form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

form input {
    padding: 1rem;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    font-size: 1rem;
}

hr {
    height: 1px;
    background-color: lightgray;
    width: 100%;
}

form span {
    font-size: 1rem;
    color: var(--color-primary);
}

.form button {
    width: 100%;
    font-weight: bold;
}

.form button.lime {
    background-color: var(--color-lime);
}