.people {
    height: calc(100vh - var(--height-var));
    padding: 1rem;
    display: flex;
    gap: 4rem;
}

.people-list h2 {
    margin-bottom: 1rem;
}
.people-list {
    flex: 1;
    background-color: #FFF;
    border-radius: 1rem;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    padding: 1rem;
}

.people-list ul {
    display: flex;
    flex-direction: column;
    gap:1rem;

}
.person {
    display: flex;
    padding: 1rem;
    align-items: center;
    width: 100%;
    /* border-bottom: 1px solid var(--color-gray); */
    /* border: 1px solid var(--color-gray); */
    border-radius: 1rem;
    /* background-color: gray; */
    justify-content: space-between;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    transition: 300ms all ease;
}
.person:hover {
    box-shadow: 4px 2px 4px rgba(0,0,0,0.4);
    background: rgba(0,0,0,0.035);
    cursor: pointer;

}
.person .img {
    border: 3px solid var(--color-primary);
    height: 50px;
    width: 50px;
}