.profile {
    height: 100vh;
    width: 100vw;
}
.cover {
    height: 70%;
    width: 100%;
    background-image: url("/assets/bg.jpg");
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;


}
.content {
    background-color: #fff;
    width: 100%;
    position: relative;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .user .img {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%) ;
}
.content .user {
    text-align: center;
    padding: 1rem 0;
}
.user span.name {
    margin-top: 4rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.cover .user .img {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid var(--color-primary);
}
.cover .info {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
}