 .avatar {
    /* height: 200px; */
    /* width: 200px; */
    /* overflow: hidden; */
    position: relative;
    padding: 8px;
}
.avatar .img {
    cursor: pointer;
    height: 200px;
    width: 200px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-primary);
}
.img img {
    /* border-radius: 50%; */
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.avatar .add {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: .5rem;
    display: grid;
    place-items: center;
    background-color: green;
    border-radius: 50%;
    color: white;
}