:root {
    --color-primary : #0866ff;
    --color-bg: #f7f4f7;
    --color-gray: #65686c;
}


* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family:  Poppins, Inter, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--color-bg);
}
nav {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between; 
    padding: 5px 1.5rem;
    
}

nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: var(--color-primary);
    gap: 8px;
}

.logo .input {
    display: flex;
    /* align-content: center; */
    justify-content: center;
    background-color: #F0F2F5;
    border-radius: 20px;
    gap: 8px;
    padding: 0 4px;
}

.input svg {
    font-size: 1rem !important;
    display: grid;
    place-items: center;
    height: 100%;
}
.input input {
    /* padding: 8px 10px; */
    background-color: #F0F2F5;
    padding: 4px 8px;
}

.navElements {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 32px;
    font-size: 2rem;
    color: var(--color-gray);
}

.navElements a:nth-child(1) {
    color: var(--color-primary);
}

.userElements {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size:2rem ;
    color: var(--color-gray);
}

nav .img {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    
}


.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home {
    width: 100vw;
    /* background-color: green; */
    display: flex;
    gap: 4rem;

}


.newsfeed {
    
    flex: 2;
}
.friends {
    flex: 1;
    border-left: 1px solid gray;
    padding: 8px;
}
.sidebar{
    flex: 1;
}
.sidebar ul {
    /* overflow-y: scroll; */
    border-right : 1px solid gray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 8px;
    gap: 5px;
}

.sidebar ul li {
    padding: 1.2rem;
    transition: 300ms all ease;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
}
.sidebar ul li:hover {
    background-color: rgb(194, 194, 194);
}


ul li .img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
}
.sidebar ul li svg {
    font-size: 25px;
}
.sidebar ul li:nth-child(2) svg{
    color: var(--color-primary);
}
.sidebar ul li:nth-child(3) svg{
    color: magenta;
}
.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.newsfeed {
    /* background-color: red; */
    width: 50%;
}


.friends .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-gray);
}
.options .search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.friends ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.friends ul li {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    transition: 300ms all ease;
}

.friends ul li .img {
    height: 50px;
    /* aspect-ratio: 1/1 !important; */
    width: 50px;
}

.friends ul li:hover {
    background-color: rgb(194, 194, 194);
}

/* ========NEWS FEEDS====================== */


.newsfeed .createPost {
    display: flex;
    margin-top: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-radius: 16px;
    gap: 4rem;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);

}
.filled {
    color: red;
}

.createPost .group1 {
    display: flex;
    /* flex: 1; */
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex: 1;

}


.group1 input {
    flex: 1;
    
    width: max-content;
    padding: 10px 8px;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f0f2f5;
}
.createPost .group2 {
    /* flex: 1; */
    width: fit-content;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.group2 svg:nth-child(1)  {
    color: red;
}
.group2 svg:nth-child(2)  {
    color: green;
}
.group2 svg:nth-child(3)  {
    color: goldenrod;
}


.createPost .img {
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.newscard {
    margin-top: 1rem;
    height: fit-content;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 8px;
    border-radius: 1rem;
}

.newscard .head .user .img {
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom : 1px solid lightgray;
    padding-bottom: 8px;
}
.head .user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.head .options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    /* font-weight: 600; */
}

.newscard .postContent {
    margin-bottom: 1rem;
}

.newscard .postImg {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.postImg svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 150px;
    animation: hide 1s linear forwards;
}
.postImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.newscard .reactions {
    padding: 1rem;
    /* font-size: 2rem; */
    width: 100%;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 2rem;
    /* justify-content: space-between; */
}
.reactions button {
    color: rgb(96, 96, 96);
    background-color: transparent;

}

@keyframes hide {
    0% {
        /* transform: scale(0); */
        color: white;
        opacity: 0;
    }

    20%, 60%,80% {
        /* transform: scale(1); */
        opacity: 1;
        color: red;
    
    }
     100% {
        opacity: 0;
    }
}